<!DOCTYPE html>

<html>
<head>
  <title><%= @title + ' | Instagram API' %></title>

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">



  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">



</head>
<body>

<div class='container'>
  <h1><a href="/">The PhotoBomb</a></h1>
  <h2>Enter a hashtag and see the randomness that Instagram offers</h2>
  <hr>
  <p>Enter a hashtag and a size from the dropdown. Click to see some random images from Instagram.</p>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<%= yield %>

</body>
</html>