<!DOCTYPE html>

<html>
<head>
  <title><%= @title + ' | Instagram API' %></title>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/style.css">



</head>
<body>
  
  <h1><a href="/">The PhotoBomb</a></h1>
  <h2>Enter a hashtag and see the randomness that Instagram offers</h2>

  <%= yield %>

</body>
</html>